
.wizard {
    display:none;
}
.wizard-ok {
    display:none;
}
.wizard-nomodal {
    box-shadow:none;
    border:none;
}

.wizard .modal-header {
    background-color:#ffffff;
    border-bottom: 0px solid #e5e5e5 !important;
    /*f8f8f8*/
}	

.wizard-body {
    overflow:hidden;
}
.progress {
	height: 10px !important;
}
.modal-body.wizard-body {
    background-color: #F4F3F2 !important;
}
.modal-footer .wizard-footer{
	background-color: #ffffff !important;
}